@import url('reset.css');
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,400,600,700,800&subset=latin,latin-ext);

/* 
###
OGÓLNE 
###
*/

html, body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

a {
    text-decoration: none;
}

/* 
###
HEADER 
###
*/

.top {
    width: 100%;
    height: 10px;
    background-color: #0169b0;
}

.triangle {
    margin: 0 auto;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #0169b0;
}

/* 
###
MENU
###
*/

span {
    color: #0169b0;
}

.color {
    color: #cfcfcf;
}

nav {
    margin: 10px auto;
    width: 75%;
    color: #525252;
}

nav .tlo {
    float: left;
    width: 33px;
    height: 47px;
    background-color: #f3f3f3;
}

nav .arrow {
    position: relative;
    top: 9px;
    left: 19px;
    width: 28px;
    height: 28px;
    background-color: #f3f3f3;
    border-right: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
    
    transform: rotate(45deg) skew(10deg, 10deg);
    -moz-transform: rotate(45deg) skew(10deg, 10deg);
    -ms-transform: rotate(45deg) skew(10deg, 10deg); /* IE 9 */
    -o-transform: rotate(45deg) skew(10deg, 10deg);
    -webkit-transform: rotate(45deg) skew(10deg, 10deg); /* Safari and Chrome */
}

nav a {
    color: #525252;
}

nav ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

nav ul li a {
    font-size: 14px;
    font-weight: 600;
}

nav ul li h1 {
    font-size: 26px;
    font-weight: 600;
}

nav ul li {
    display: table-cell;
    padding: 0 9px;
    height: 47px;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
    text-align: center;
    vertical-align: middle;   
}

nav ul li:nth-child(1){
    padding: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

nav ul li:nth-child(2){
    padding-left: 22px;
    border-left: none;
}

nav ul li:nth-child(7){
    border-right: 1px solid #e2e2e2;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

/*
###
MAIN
###
*/

main {
    margin: 0 auto;
    width: 74%;
    background-color: #FFFFFF;
}

.slider {
    float: left;
    padding: 3px;
    width: 70%;
    height: 400px;
    border: 1px solid #e2e2e2;
}

.inner {
    position: relative;
    background-image: url('../img/szermierka.jpg');
    width: 100%;
    height: 100%;
}

.events {
    float: right;
    padding: 2px;
    width: 25%;
    border: 1px solid #e2e2e2;
}

.box{
    position: relative;
    display: table-cell;
    bottom: 4px;
    color: #fff;
    text-align: center;
    width: 80px;
    height: 60px;
    background-color: #0169b0;
    vertical-align: middle;
}

.pudelko{
    display: table-cell;
    color: #fff;
    width: 80px;
    font-weight: bolder;
    vertical-align: middle;
}

.box:before{
    position: absolute;
    top: 60px;
    display: block;
    width: 60px;
    height: 20px;
    content:"";
    background-color: #0169b0;
}

.fold{
    position: absolute;
    right: 0;
    top: 60px;
    width: 0px;
    height: 0px;
    border-top: 20px solid #01416f;
    border-right: 20px solid transparent;
}

.news {
    position: absolute;
    right: 0;
    top: 0;
}

.news > li > div{
    display: block;
    height: 79px;
    background-color: #000;
    color: #fff;
    opacity:0.49;
    filter:alpha(opacity=49);
}

.clear {
    clear: both;
}

/*
###
FOOTER
###
*/

footer{
    padding: 20px 0;
    background-color: #000;
    font-size: 11px;
}

footer, footer a{
    color: lightgray;
}

.about{
    float: left;
    width: 200px;
}

.logo{
    margin: 0 auto;
}

.logo img{
    width: 80px;
    height: 80px;
}

.about p{
    text-align: left;    
}

.about .logo {
    background-color: #fff;
    width: 82px;
    border-radius: 50%;
}

.about .logo img {
    padding: 2px 1px 0px;
}

.footer_list ul li{
    margin: 10px 0;
}

#contact{
    float: right;
}

h2 {
    font-weight: bolder;
}

#sections{
    margin: 0 10px;
    padding: 0 10px;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

#contact h3 {
    margin: 10px 0;
}

#map_holder{
    padding: 8px 8px;
    background-color: red;
    border-radius: 5px;
}

#map_canvas {
    width: 160px;
    height: 90px;
    background-color: #CCC;
}

.copyright{
    clear: both;
    padding: 10px 0;
    background-color: #101010;
}

.copyright p{
    font-family: Sans-serif;
    font-size: 12px;
    text-align: center;
}

.copyright a:link, :visited{
    text-decoration: none;
}